$def with (page)

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crosswynds Traders</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/promo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/scripts/promo.js"></script>
</head>

<body>
    <div id="contentContainer" class="container-fluid">
        <!-- Create the Main Content layout.-->
        <!-- Get the Main Content from the server -->
        $:page
        <!-- Ends Main Content Layout -->
    </div>
</body>

</html>