$def with (form)

<div class="row">
    <div id="comingSoonHeader" class="col-lg-12 jumbotron comingsoon-jumbotron">
        <!-- Header Image -->
    </div>
    <div id="signUpArea" class="col-sm-6">
        <!-- Sign Up Form -->
        <div class="container">
            <h1>Don't Get Left Behind at the Beach!</h1>
            <h3>Sign up early and earn rewards</h3>
                <form method="POST">
                    $:form.render_css()
                </form>
        </div>
    </div>
</div>