<div class="row">
    <div id="privacyTitle" class="col-sm-12 jumbotron">
        <div class="container">
            <h1>Privacy Policy</h1>
            <p>Crosswynds Traders</p>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="container">
            <p>At Crosswynds Traders we take your privacy very seriously. The only personal information we collect on this site is your email address and your IP Address. All information you provide is kept in strict confidence and will never be sold or given to a third party for any reason.</p>

            <h3>Disclaimer</h3>

            <p>The owner of this website will not be held liable for the misuse of this site or any site which is linked to by people who are not authorized to distribute email addresses, or perform any other type of action.</p>

            <p>It is the intention of Crosswynds Traders and its associates to provide accurate information, but neither the owner of Crosswynds Traders nor its associates claims any responsibility for any inaccurate information provided in error.</p>

            <p>All items on this site are advertised for promotional value only. The actual appearence or usefulness of rewards earned on this site may not meet your expectations. </p>

            <p>It is the user of this site's responsibility to be aware of and abide by all laws in accordance to their geographical location or jurisdiction. Crosswynds Traders will not be held liable for any claims that damages caused to a person or any type of hardware or software were caused by the use of this site or any partner sites.</p>

            <h3>Contact</h3>
            <p>Crosswynds Traders<br>
            1175 Boston Neck Rd<br>
            Narragansett, RI 02882<br>
            (401) 782-1110</p>
        </div>
    </div>
</div>
