body {
    background: #EDECEA;
}

.comingsoon-jumbotron {
    background-image: url("../images/image.jpg");
    background-size: cover;
    color: #FFFFFF;
    padding-bottom: 40%;
    margin-bottom: 0;
}

#signUpArea {
    text-align: center;
}

.email-form {
    margin: 10px;
}

.confirmation-header {
    background-color: #00c6ff;
    color: #FFFFFF;
    text-align: center;
}

.sharing-jumbotron {
    background-image: url("../images/coverphoto.jpg");
    background-size: cover;
    color: #FFFFFF;
    padding-bottom: 27%;
    margin-bottom: 10px;
}

#sharingArea {
    text-align: center;
}

#scoreArea {
    text-align: center;
}